body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #FCD116;
  color: #000;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
}

section ul {
  list-style: none;
  padding-left: 0;
}

section li {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #FCD116;
  color: #000;
}

footer {
  background-color:antiquewhite
}